@font-face {
    font-family: intern;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: Fraunces;
    src: url(fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
body{
    margin: 0;
    padding: 50px 50px 50px 50px;
}
header{
    background-image: url(images/background\ img.jfif);
    height: 500px;
    background-size: 100%;
}
.headerlist{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    font-family: Fraunces;
    padding-top: 30px;
}
.bigtxt{
   font-family: Fraunces;
}
.txt{
    margin-top: 100px;
    margin-left: 150px;
    color: white;
    font-family: intern;
}
.button{
    color: white;
    height: 30px;
    background-color: rgb(124, 124, 29);
    border-color: rgb(124, 124, 29);
    margin-left: 150px;
    border-radius: 3px;
    font-family: intern;
}
main{
    background-color: rgb(145, 60, 145);
}
.mainimgtxt{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: intern;
    padding-top: 30px;
}
.txts{
    text-align: center;
    align-items: center;
    color: white;
    font-family: intern;
    margin-top: 50px;
}
.imgs{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.buttons{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: intern;
    color: white;
    margin-top: 50px;
}
.but{
    background-color: gray;
    border-radius: 4px;
    color: white;
}
.items{
    display: flex;
    justify-content: space-evenly;
    font-family: intern;
    color: white;
    margin-top: 50px;
    padding-bottom: 50px;
}
footer{
    background-color: grey;
    height: 186px;
}
.footerlist{
    margin: 0;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    list-style: none;
    color: white;
    font-family: Fraunces;
}
.li{
    margin: 10px;
}
.lists{
    display: flex;
    justify-content: space-around;
}