@font-face {
    font-family: intern;
    src: url(fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: Fraunces;
    src: url(fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
body{
    margin: 0;
}
header{
    background-image: url(images/background\ img.jfif);
    height: 900px;
    background-size: 100%;
}
.headerlist{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    font-family: Fraunces;
}
.bigtxt{
   font-family: Fraunces;
}
.txt{
    margin-top: 100px;
    margin-left: 150px;
    color: white;
    font-family: intern;
}
.button{
    color: white;
    height: 30px;
    background-color: rgb(124, 124, 29);
    border-color: rgb(124, 124, 29);
    margin-left: 150px;
    border-radius: 3px;
    font-family: intern;
}